.people {
  overflow: auto;
  margin: 19px 0 19px 0;
  padding: 19px 19px 28px 19px;
}

.name {
  width: 30%;
  float: left;
  padding-right: 9px;
}

.biography {
  width: 70%;
  float: left;
  padding-left: 9px;
}

#Kazuo{
  background-color: #cc66ff;
}

#JackMa{
  background-color: #ff661a;
}

#Dieter{
  background-color: #9999ff;
}

#Thao{
  background-color: #6697cc;
}

video{
  width: 50%;
  height: 40%;
}

.me{
  background: #9494b8;
  color: #000066;
  margin: 20px 0 19px 0;
  padding: 20px 19px 3px 19px;
}
#Kazuo figure{
  border-color: #660066;
  border-right: 10px solid;
  border-radius: 50px;
  background-color: #003399;
}
#JackMa figure{
  border-color: #003366;
  background-color: #993333;
  border-right: 10px solid;
  border-radius: 50px;
}
#Dieter figure{
  border-color: #663300;
  background-color: #006666;
  border-right: 10px solid;
  border-radius: 50px;
}
#Thao figure{
  border-color: #003300;
  background-color: #993366;
  border-right: 10px solid;
  border-radius: 50px;
}
.my-flexbox-container{
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.name figcaption{
  font-size: 12px;
}
@media screen and (min-width: 576px){
  .name figcaption {
    font-size: 19px;
  }
}
@media screen and (min-width: 768px){
  .name figcaption {
    font-size: 30px;
  }
}
@media screen and (min-width: 992px){
  .name figcaption {
    font-size: 45px;
  }
}
@media screen and (min-width: 1200px){
  .name figcaption {
    font-size: 60px;
  }
}
.d-none{
  display: none;
}
#JackMa img {
  content: url("../images/1.jpg");
}
@media screen and (min-width: 576px){
  #JackMa img {
    content: url("../images/2.jpg");
  }
}
