.People{
  margin: 10px 0 19px 0;
  padding: 3px 19px 3px 19px;
}

#Kazuo{
  background-color: #cc66ff;
}

#JackMa{
  background-color: #ff661a;
}

#Dieter{
  background-color: #9999ff;
}

#Thao{
  background-color: #6697cc;
}

video{
  width: 50%;
  height: 40%;
}

.me{
  background: #9494b8;
  color: #000066;
  margin: 20px 0 19px 0;
  padding: 20px 19px 3px 19px;
}
