.People{
  margin: 19px 0 19px 0;
  padding: 19px 19px 28px 19px;
  background-color: #ffcccc;
  color: #cc99ff
}
body{
  color: ;
}
#Adam{
  background-color: #4775d1;
  color: #000066;
}
audio,video{
  width: 40%;
}
