table {
  border: 1px solid black;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  border-bottom: 1px solid black;
}

tr:nth-child(even){
  background-color: #999966;
}

td:first-child, td:nth-child(3), td:nth-child(4){
  text-align: center;
}

/* .highlighted{ */
tbody > tr:hover {
  background-color: #00f;
  color: #fff;
  font-weight: bold;
}

#my-id{
  background-color:#3366cc ;
  color: #ffcc66;
  border: 1px solid black;
  margin:30px 0 30px 0;
  height: 50px;
  padding: 25px;
  font-size: 25px;
}

.my-td-span {
  background-color: #999966;
  color: #fff;
  font-weight: bold;
  padding: 19px;
}

.my-header {
    background-color: #333;
    color: #aaa;
    font-size: 8px;
    font-weight: bold;
}

.my-content {
    margin-top: 3px;
}

.my-header,
.my-content {
  border: 1px solid #333;
  padding: 5px;
}

.my-study {
  margin: 10px 0 10px 0;
}

.my-study-open,
.my-study-close {
  margin-right: 10px;
}

.my-study-detail-hidden {
    display: none;
}

@media screen and (min-width: 576px) {
  .my-study-open,
  .my-study-close {
    display: none;
  }

  .my-study-detail-hidden {
    display: block;
  }
}
