table {
  border: 1px solid black;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  border-bottom: 1px solid black;
}

tr:nth-child(even){background-color: #999966}
td:first-child,td:nth-child(3),td:nth-child(4){text-align: center;}
.highlighted{
  background-color: blue;
  color: #fff;
  font-weight: bold;
}
#my-id{
  background-color:#3366cc ;
  color: #ffcc66;
  border: 1px solid black;
  margin:30px 0 30px 0;
  height: 50px;
  padding: 25px;
  font-size: 25px;
}
